body {
    width: 100vw;
    height: 100vh;
    transition: 1s;
    overflow: hidden;
}


footer {
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

img {
    width: 300px;
    transition: 2s;
}

button {
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
}

button:hover {
   font-size: 20px;
}